<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Edit Professor</title>
    <meta charset="UTF-8"/>
</head>
<body>
<section th:fragment="editProfessor">
    <form th:action="@{/saveProfessor}" th:object="${professor}"
          method="POST" class="was-validated">
        <input type="hidden" name="idProfessor" th:field="*{idProfessor}"/>
        <section th:replace="layout/editButtonProfessor :: editButtonProfessor "></section>
        <div id="details">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{action.edit}]]</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name">[[#{name}]]</label>
                                    <input type="text" class="form-control" name="name"
                                           required="true" th:field="*{name}"/>
                                </div>
                                <div class="form-group">
                                    <label for="lastName">[[#{lastName}]]</label>
                                    <input type="text" class="form-control" name="time"
                                           required="true" th:field="*{lastName}" />
                                </div>
                                <div class="form-group">
                                    <label for="active">[[#{professor.active}]]</label>
                                    <input type="text" class="form-control" name="professor"
                                           required="true" th:field="*{active}"/>
                                </div>
                                <div class="form-group">
                                    <label for="dni">[[#{dni}]]</label>
                                    <input type="number" class="form-control" name="dni"
                                           required="true" th:field="*{dni}"/>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
</body>
</html>
