<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Professor</title>
    <meta charset="UTF-8"/>
</head>
<body>
<section th:fragment="professorList" id="professors">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>[[#{professor.list-title}]]</h4>
                    </div>
                    <div th:if="${professors != null and !professors.empty}">
                        <table class="table table-stryped">
                            <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th th:text="#{name}">Name</th>
                                <th th:text="#{lastName}">Last Name</th>
                                <th th:text="#{professor.active}">Active</th>
                                <th th:text="#{dni}">Dni</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="professor, countProfessors : ${professors}">
                                <td>[[${countProfessors.count}]]</td>
                                <td>[[${professor.name}]]</td>
                                <td>[[${professor.lastName}]]</td>
                                <td>[[${professor.active}]]</td>
                                <td> [[${professor.dni}]]</td>
                                <td>
                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/editProfessor/} + ${professor.idProfessor}"
                                       class="btn btn-secondary">
                                        <i class="fas fa-angle-double-right"></i> [[#{action.edit}]]
                                    </a>
                                </td>
                                <td>
                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/deleteProfessor(idProfessor=${professor.idProfessor})}"
                                       class="btn btn-dark">
                                        <i class="fas fa-angle-double-right"></i> [[#{action.delete}]]
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center p-2" th:if="${professors == null or professors.empty}">
                        <span th:text="#{empty-List}">Empty List</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
