<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Subjects</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="subjectList" id="subjects">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{subject.list-title}]]</h4>
                            </div>
                            <div th:if="${subjects != null and !subjects.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{name}">Name</th>
                                            <th th:text="#{subject.time}">Time</th>
                                            <th th:text="#{subject.professor}">Professor</th>
                                            <th th:text="#{subject.max_quota}">Max_Quota</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="subject, countSubjects : ${subjects}">
                                            <td>[[${countSubjects.count}]]</td>
                                            <td> <a th:href="@{/subjectPage}">[[${subject.name}]]</a> </td>
                                            <td>[[${subject.time}]]</td>
                                            <td>[[${subject.professor}]]</td>
                                            <td> [[${subject.max_Quota}]]</td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/edit/} + ${subject.idSubject}"
                                                   class="btn btn-secondary">
                                                    <i class="fas fa-angle-double-right"></i> [[#{action.edit}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/delete(idSubject=${subject.idSubject})}"
                                                   class="btn btn-dark">
                                                    <i class="fas fa-angle-double-right"></i> [[#{action.delete}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${subjects == null or subjects.empty}">
                                <span th:text="#{empty-List}">Empty List</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
