<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Professor</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <section th:fragment="subjectDescription" id="subjectDescription">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h1>Subject description and information</h1>
                            <p>
                                this is the subject description and the information
                            </p>
                        </div>

    </section>
</body>
</html>
